.login_form {
  padding-top: 50px;
  background: linear-gradient(to bottom right, #fc2121, #ff6b6b);
  font-size: 22px;
  min-height: 100vh;
  text-align: center;

  .logo {
    max-width: 200px;
    padding-bottom: 40px;
  }
}

.login_inputs {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: start;
  gap: 10px;
}

.login_inputs input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

.login_form button {
  margin-bottom: 10px;
  padding-inline: 50px;
  padding-block: 16px;
  background-color: #fc2121;
  border-radius: 10px;
  border: none;
  color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 64px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  min-width: 50%;
  font-size: 15px;
}

.login_pw {
  display: flex;
  flex-direction: column;
}

.login_pw a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
}

.need_account {
  margin-top: 100px;
}

.socialmedia {
  margin-block: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  max-width: 30px;
}
