.trailer_section {

  max-width: 100%;


  background: linear-gradient(to bottom right, #fc2121, #ff6b6b);
  min-height: 95vh;
  position: relative;


  div {
    margin-block: 200px;
    position: absolute;
    position: absolute;

    transform: translateX(-50%);
    left: 50%;
    top: 3%;
  }
}

.watch_trailer {
  position: absolute;
  max-width: 300px;
  transform: translateX(-50%);
  left: 50%;
  top: 10%;
}

.no_trailer {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  max-width: 300px;
  margin-top: 150px;
}

.backbutton {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
  cursor: pointer;

  div {
    background-color: #fff;
    padding: 10px 5px;
    border-radius: 11px;

    img {
      min-width: 19px;
      min-height: 9px;
    }
  }
}
