.register_page {
  padding-top: 50px;
  background: linear-gradient(to bottom right, #fc2121, #ff6b6b);
  font-size: 22px;
  min-height: 100vh;
  text-align: center;

  .logo {
    max-width: 200px;
    margin-bottom: 40px;
  }
}

.register_page button {
  padding-inline: 50px;
  padding-block: 16px;
  background: linear-gradient(to right, #ff6b6b, #fc2121);
  border-radius: 10px;
  border: none;
  color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 64px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  min-width: 50%;
  font-size: 15px;
}

.register_buttons a {
  text-decoration: none;
}

.register_inputs {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: start;
  gap: 10px;
}

.register_inputs input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}
@media screen and (min-width: 391px) {
  .register_inputs {
    max-width: 25%;
    margin-inline: auto;
    padding-inline: 0px;
  }
  .register_page button {
    min-width: 25%;
  }
}
