.register_page {
  padding-top: 50px;
  background: linear-gradient(to bottom right, #fc2121, #ff6b6b);
  font-size: 22px;
  min-height: 100vh;
}

.register_page button {
  margin-bottom: 50px;
  padding-inline: 50px;
  padding-block: 16px;
  background-color: #fc2121;
  border-radius: 10px;
  border: none;
  color: #fff;
}

.register_buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.register_buttons a {
  text-decoration: none;
}

.register_inputs {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: start;
  gap: 10px;
}

.register_inputs input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}
