.navbarmobilesection {
  min-width: 100%;
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: #fff;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
}
