.navbarmobilesection {
  min-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  min-height: 5vh;
  z-index: 5;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding-top: 10px;
  }
}
