.movie_wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  .scroll_to_topbutton {
    position: fixed;
    bottom: 45px;
    right: 17px;
    background: linear-gradient(to right, #ff6b6b, #fc2121);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    rotate: -90deg;
    scale: -0.8;
  }
  .Sort_button_wrapper {
    display: flex;
    justify-content: space-evenly;
    .sort_button {
      background: linear-gradient(to right, #ff6b6b, #fc2121);
      border-radius: 10px;
      border: none;
      padding: 10px 30px;
      color: #fff;
    }
  }
  .movie_frame {
    display: flex;
    column-gap: 15px;

    a {
      min-width: 25%;
      min-height: 8rem;

      img {
        display: block;
        width: 100%;
        border-radius: 10px;
      }
    }

    .movie_frame_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 70%;
      justify-content: center;

      .frame_text_headline {
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;

        img {
          margin-right: 5px;
          max-height: 20px;
        }

        h1 {
          text-align: start;
        }
      }

      .frame_text_info {
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        flex-direction: row;

        p {
          font-size: 12px;
          padding-left: 5px;

          .imdb {
            background: center/ contain no-repeat url('../../../assets/img/polygon.svg');
            padding-right: 14px;
            margin-right: 2px;
          }

          .punkt {
            padding-inline: 10px;
            padding-bottom: 2px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 391px) {
  .movie_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
