.movie_wrapper {
  padding: 10px 20px;
  .movie_frame {
    display: flex;
    column-gap: 20px;
    min-width: 20%;
    a {
      border-radius: 10px;
      overflow: hidden;
      img {
        max-width: 136%;
        object-position: center;
      }
    }
    .movie_frame_text {
      min-width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .frame_text_headline {
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        img {
          max-height: 80%;
        }
        h1 {
          font-size: 0.75rem;
        }
      }
      .frame_text_info {
        display: flex;
        align-items: center;
        min-width: 100%;
        justify-content: space-between;
        flex-direction: row;
        p {
          font-size: medium;
          font-size: 10px;
          padding-left: 5px;
          img {
            max-height: 10px;
            padding-right: 2px;
          }
        }
      }
    }
  }
}
