.movie_wrapper {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 50px;

  .remove_fav {
    background: linear-gradient(to right, #ff6b6b, #fc2121);
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px 30px;
  }

  .scroll_to_topbutton {
    position: fixed;
    bottom: 45px;
    right: 17px;
    background: linear-gradient(to right, #ff6b6b, #fc2121);
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    rotate: -90deg;
    scale: -0.8;
  }

  .Sort_button_wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;

    .sort_button {
      background: linear-gradient(to right, #ff6b6b, #fc2121);
      border-radius: 10px;
      border: none;
      padding: 10px 30px;
      color: #fff;
    }
  }

  .movie_frame {
    display: flex;
    margin-bottom: 10px;

    a {
      min-width: 25%;
      min-height: 8rem;

      img {
        display: block;
        width: 100%;
        border-radius: 10px;
        box-shadow: 1px 2px 9px black;
      }
    }

    .movie_frame_text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 70%;
      justify-content: center;
      padding-left: 10px;

      .frame_text_headline {
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;

        img {
          margin-right: 5px;
          max-height: 20px;
        }

        h1 {
          text-align: start;
          font-size: 1.1rem;
          padding-left: 5px;
        }
      }

      .frame_text_info {
        display: flex;
        min-width: 100%;
        justify-content: space-between;
        flex-direction: row;

        p {
          font-size: 12px;
          padding-left: 1px;

          .imdb {
            background: center/ contain no-repeat url('../../../assets/img/polygon.svg');
            padding-right: 14px;
            margin-right: 1px;
          }

          .punkt {
            display: inline-block;
            padding: 3px;
            margin-left: 9px;
            margin-bottom: 1px;
              
       
          }
        }
      }
    }
  }
}

@media screen and (min-width: 391px) {
  .item_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
  .movie_wrapper {
    min-height: 95vh;
    padding-bottom: 50px;

    .desktop_bar_wrapper {
      display: flex;
      position: relative;

      .Sort_button_wrapper {
        position: absolute;
        top: 30px;
        right: 419px;
        justify-content: normal;
        gap: 10px;
        min-width: 200px;
      }
    }

    .movie_frame {
      gap: 10px;
      display: flex;
      flex-direction: row;
    }
  }
}
