.profile_section {
  min-height: 95vh;
  position: relative;

  .profile_background {
    background: center / cover no-repeat url('../../../assets/img/profilebg.jpg');
    z-index: -1;
    height: 170px;
  }


  .profile_img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    z-index: 2;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 15%;
    border: 3px solid #fff;
  }

}

.user_data {
  text-align: center;
  margin-top: 40px;

  h2 {
    font-weight: 100;
    font-size: 1.2rem;
  }

  h3 {
    font-weight: 100;
    font-size: 1rem;
  }
}

.account_stats {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 1px solid black;

  div:nth-of-type(2) {
    border-left: solid 1px black;
  }
}

.profile_settings {
  text-align: right;
  position: absolute;
  padding-right: 10px;
  font-size: 1.4rem;
  background: linear-gradient(to right, #ff6b6b, #fc2121);;
  right: 0;
  border-radius: 10px;
  top: 30%;
  color: white;

  li {
    cursor: pointer;
    padding-bottom: 10px;
    list-style: none;
  }
}

.settings_icon {
  position: absolute;
  top: 22%;
  right: 2%;
  max-height: 40px;
}

.show {
  display: initial;
}

.hide {
  display: none;
}

.list_section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding-inline: 40px;

  .anime {
    max-width: 120px;
    max-height: 120px;
    border-radius: 10px;
  }
}

.list_section_headline {

  h4 {

    margin-top: 40px;
    text-align: center;
    font-size: 1.5rem;
  }
}

.add_list {
  position: absolute;
  right: 2%;
  bottom: 2%;
  height: 60px;
}