.search_bar {
  position: relative;
}

.lens {
  position: absolute;
  top: 64px;
  right: 20px;
  border: none;
  background-color: #fbf8ff;
}

.search_bar input {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-block: 18px;
  min-width: 350px;
  border-radius: 10px;
  border: none;
  background-color: #fbf8ff;

  &::placeholder {
    padding-left: 1rem;
    font-size: 16px;
  }
}

.genre_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.genre_buttons button {
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fbf8ff;
}

.genre_buttons a.active button {
  color: white;
  background-color: #fc2121;
}

.movie_list_button {
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background: linear-gradient(to right, #fc2121, #ff6b6b);
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 54px 64px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
  min-width: 100px;
  font-size: 15px;
  margin-bottom: 90px;
}
